#show-event {
  /*margin-bottom:100px;*/
}

.spanlabel{
  font-size: 15px;
  margin-left: 15px;
}
.margin-50{
  margin: 20px 0 0 0;
}

/*お遊び*/
.loginCaution{
  color: #a94442;

}

#forgetPassword{
  font-size: 3px;
}

#eventmanager {
  font-family: Avenir-Roman, Avenir; font-weight: 400;
  background: whitesmoke;
  color: rgba(0,0,0,0.6);
 /* text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
               0px -5px 16px rgba(255,255,255,0.3);*/
}
